workflows/attorney-commission-calculator.json
{
  "name": "Attorney Commission Calculator",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Attorney Commission Calculator",
        "formDescription": "Paste your Case Data and Rules Sheet CSVs below",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Case Data CSV",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "matter,date,total collected,user,originator\nCase-001,2024-01-15,10000,John Smith,John Smith"
            },
            {
              "fieldLabel": "Rules Sheet CSV",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "attorney name,user percentage,own origination other work percentage\nJohn Smith,30%,10%"
            }
          ]
        },
        "responseMode": "lastNode"
      },
      "id": "form-trigger",
      "name": "Upload Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [200, 300],
      "webhookId": "commission-form"
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "gpt-4o", "mode": "list" },
        "messages": {
          "values": [
            {
              "content": "You are a CSV calculator. You receive CSV data and return ONLY CSV output. No explanations. No markdown. No code blocks. Just raw CSV text starting with the header row."
            },
            {
              "type": "user",
              "content": "=Calculate attorney commissions from this data:\n\nCASE DATA:\n{{ $json['Case Data CSV'] }}\n\nRULES:\n{{ $json['Rules Sheet CSV'] }}\n\nCALCULATION RULES:\n1. User Pay = total collected × user percentage (from rules where attorney name matches user)\n2. If user and originator are THE SAME PERSON: leave originator percentage and originator pay BLANK\n3. If user and originator are DIFFERENT: Originator Pay = User Pay × originator's own origination other work percentage\n\nReturn ONLY this CSV format (no markdown, no ```, no explanation):\nmatter,date,user,originator,total collected,user percentage,user pay,originator percentage,originator pay\n\nStart output immediately with the header row:"
            }
          ]
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "openai-calc",
      "name": "Calculate Commissions",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [460, 300],
      "credentials": {
        "openAiApi": {
          "id": "your-credential-id",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.text.replace(/```csv\\n?/g, '').replace(/```\\n?/g, '').replace(/^\\s+/, '') }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/csv; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Return CSV",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Upload Form": {
      "main": [[{ "node": "Calculate Commissions", "type": "main", "index": 0 }]]
    },
    "Calculate Commissions": {
      "main": [[{ "node": "Return CSV", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [],
  "pinData": {}
}
