infrastructure/logic_app_template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "description": "Logic App that monitors the Vela shared mailbox and forwards inbound emails to the Vela-Law Azure Function."
  },
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "vela-law-email-trigger",
      "metadata": { "description": "Name of the Logic App resource." }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": { "description": "Azure region." }
    },
    "velaFunctionUrl": {
      "type": "string",
      "metadata": { "description": "Full URL of the Vela Azure Function, e.g. https://vela-law-func.azurewebsites.net/api/vela" }
    },
    "velaFunctionKey": {
      "type": "securestring",
      "metadata": { "description": "Function host key for authentication." }
    },
    "sharedMailbox": {
      "type": "string",
      "defaultValue": "vela@ourfirm.onmicrosoft.com",
      "metadata": { "description": "Shared mailbox Vela monitors." }
    },
    "office365ConnectionName": {
      "type": "string",
      "defaultValue": "office365",
      "metadata": { "description": "Name of the Office 365 API connection." }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Vela-Law Office 365 Connection",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "When_a_new_email_arrives_in_shared_mailbox": {
              "type": "ApiConnection",
              "recurrence": {
                "frequency": "Minute",
                "interval": 1
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/SharedMailbox/Mail/OnNewEmail",
                "queries": {
                  "mailboxAddress": "[parameters('sharedMailbox')]",
                  "importance": "Any",
                  "fetchOnlyWithAttachment": false,
                  "includeAttachments": false,
                  "folderPath": "Inbox"
                }
              }
            }
          },
          "actions": {
            "Post_to_Vela_Function": {
              "type": "Http",
              "runAfter": {},
              "inputs": {
                "method": "POST",
                "uri": "[parameters('velaFunctionUrl')]",
                "headers": {
                  "Content-Type": "application/json",
                  "x-functions-key": "[parameters('velaFunctionKey')]"
                },
                "body": {
                  "Id": "@triggerBody()?['Id']",
                  "ConversationId": "@triggerBody()?['ConversationId']",
                  "From": "@triggerBody()?['From']",
                  "To": "@triggerBody()?['ToRecipients']",
                  "Cc": "@triggerBody()?['CcRecipients']",
                  "Subject": "@triggerBody()?['Subject']",
                  "Body": "@triggerBody()?['Body']",
                  "BodyPreview": "@triggerBody()?['BodyPreview']",
                  "DateTimeReceived": "@triggerBody()?['DateTimeReceived']",
                  "HasAttachments": "@triggerBody()?['HasAttachments']",
                  "Importance": "@triggerBody()?['Importance']"
                }
              }
            },
            "Log_response": {
              "type": "Compose",
              "runAfter": {
                "Post_to_Vela_Function": ["Succeeded"]
              },
              "inputs": "@body('Post_to_Vela_Function')"
            },
            "Handle_failure": {
              "type": "Compose",
              "runAfter": {
                "Post_to_Vela_Function": ["Failed", "TimedOut"]
              },
              "inputs": {
                "error": "Vela Function call failed",
                "status": "@outputs('Post_to_Vela_Function')['statusCode']",
                "body": "@body('Post_to_Vela_Function')"
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]",
                "connectionName": "[parameters('office365ConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppUrl": {
      "type": "string",
      "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers', parameters('logicAppName'), 'When_a_new_email_arrives_in_shared_mailbox'), '2019-05-01').value]"
    }
  }
}
